<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/todo.css">
    <title>TODO App</title>
</head>
<body>
    <h1>TODO List</h1>
    <form action="/addTodo" method="post">
        <input type="text" name="todo" placeholder="Add a new TODO" required>
        <button type="submit">Add</button>
    </form>
    <ul>
        <% for (const todo of todos) { %>
            <li><%= todo %></li>
        <% } %>
    </ul>
</body>
</html>
